@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes smoke {
  0% {
    transform: rotate(0);
    transform: scale(1);
  }
  50% {
    transform: rotate(30deg);
    transform: scale(1.3);
  }
  100% {
    transform: rotate(0);
    transform: scale(1);
  }
}
@keyframes smokeMovement {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translate(-60px, -20px);
    opacity: 0;
  }
}
@keyframes rollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(76px, 0);
  }
}
@keyframes flame {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px orangered);
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 30px orangered);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px orangered);
  }
}
@keyframes rotateWrench {
  0% {
    transform: rotate(-10deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  93% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: radial-gradient(#5500ff, #3600a3);
}

body > div#main-container,
body > div#main-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
span {
  margin-top: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body > div#main-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body > div#main-container > img#mestre-obras {
  position: absolute;
  height: 233px;
  width: auto;
  right: 144px;
  bottom: 193px;
}
body > div#main-container > div#retroescavadeira {
  height: 133px;
  width: max-content;
  position: absolute;
  bottom: 10px;
  right: 100vw;
  animation: rollRight 12s linear infinite;
}
body > div#main-container > div#retroescavadeira img#lataria {
  height: 100%;
  width: auto;
  transform: scale(-1, 1);
  z-index: 1;
}
body > div#main-container > div#retroescavadeira img.smoke {
  bottom: 86.45px;
  left: 148.96px;
  position: absolute;
  opacity: 0.5;
  height: 10%;
  width: auto;
  animation: smoke 2s linear infinite;
}
body > div#main-container > div#retroescavadeira img.smoke#primeira {
  animation: smokeMovement 6s linear 0s infinite;
}
body > div#main-container > div#retroescavadeira img.smoke#segunda {
  animation: smokeMovement 6s linear -2s infinite;
}
body > div#main-container > div#retroescavadeira img.smoke#terceira {
  animation: smokeMovement 6s linear -4s infinite;
}
body > div#main-container > div#retroescavadeira img.roda {
  width: 53.2px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: spin 4s linear infinite;
}
body > div#main-container > div#retroescavadeira img.roda#esquerda {
  left: 79.8px;
}
body > div#main-container > div#retroescavadeira img.roda#direita {
  left: 163.59px;
}
body > div#main-container > div#main-text {
  position: relative;
  padding-bottom: 100px;
}
body > div#main-container > div#main-text div#logo {
  position: relative;
  width: 256px;
}
body > div#main-container > div#main-text .hidden {
  display: none;
}
body > div#main-container > div#main-text svg#logo {
  width: 100%;
  height: auto;
}
body > div#main-container > div#main-text svg#flame {
  position: absolute;
  width: 32px;
  height: auto;
  transform-origin: bottom center;
  animation: flame 2s linear infinite;
  width: 50px;
  left: 106px;
  top: 78px;
}
body > div#main-container > div#main-text svg#wrench {
  position: absolute;
  left: 145px;
  top: 80px;
  width: 96px;
  height: auto;
  transform: rotate(-10deg);
  transform-origin: 15% 15%;
}
body > div#main-container > div#main-text svg#wrench.animate {
  animation: rotateWrench 6s linear infinite;
}
body > div#main-container > div#main-text span {
  width: 500px;
  text-align: center;
}
body > div#main-container > div#yellow-strip-container {
  position: absolute;
  top: 80vh;
  height: 40px;
  width: 100%;
  background-color: #ffd900;
  overflow: hidden;
}
body > div#main-container > div#yellow-strip-container div#yellow-strip {
  width: calc(100% + $blackDivDiagonal);
  animation: slideLeft 3s linear infinite;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body > div#main-container > div#yellow-strip-container div#yellow-strip > div {
  background-color: black;
  margin-right: 56px;
  transform: rotate(45deg);
  min-width: 20px;
  min-height: 76px;
  max-width: 20px;
  max-height: 76px;
}

/*# sourceMappingURL=styles.css.map */
